<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="application-name" content="php-saml-ds">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAML Discovery Service</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css">
    {% if useLogos is defined and useLogos %}
        <link rel="stylesheet" type="text/css" href="logo/idp/{{ encodedEntityID }}.css?mTime={{ mTime }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="css/eduVPN/eduvpn.css"> <!-- eduVPN branding -->
    <script type="text/javascript" src="js/filter.js"></script>
</head>
<body>
    <div class="header">
        {% block header %}{% endblock %}
    </div> <!-- header -->
    <div class="container">
        {% block container %}{% endblock %}
    </div> <!-- container -->

    <div class="footer">
        Discovery Service for <a href="https://eduvpn.nl/">eduVPN</a>
    </div> <!-- footer -->
</body>
</html>
